<% layout('layout') %>
<% if (emoji) { %>
  <div class="emoji-detail">
    <div class="emoji-symbol"><%- emoji.htmlCode[0] %></div>
    <h2><%= emoji.name %></h2>
    <p>Категория: <%= emoji.category %></p>
    <p>Группа: <%= emoji.group %></p>
    <p>Unicode: <%= emoji.unicode.join(", ") %></p>
  </div>
<% } else { %>
  <p>Эмодзи не найдено.</p>
<% } %>
